css

@font-face {
    font-family: "Pudelinka";
    src: url("Fonts/pudelinka.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0000ff; /* Синий фон */
    color: #ffa500; /* Оранжевый текст для всего body */
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px;
    font-family: sans-serif; /* Исправил "sans serif" на "sans-serif" */
}

blockquote.q {
    color: #ffa500; /* Оранжевый текст для цитаты */
    border-left: 4px solid #8B0000;
    font-style: italic;
}

p.quote {
    font-family: "Pudelinka", cursive;
    color: #ffa500; /* Явно задаем оранжевый для абзацев с цитатой */
}
